<header id="header">
  <div class="navbar navbar-inverse navbar-black">
    <div class="container navbar-inner">


    <div class="navbar-header">
      <a class="navbar-brand" href="/">Sugar Rush</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if (curr_user) { %>
        <% console.log(curr_user) %>
          <li><a href="/local/profile">Hello, <%= user.local.firstName %></a></li>
          <li><a href="/restaurants">Order</a></li>
          <li><a href="/local/logout">Logout</a></li>
        <% } else if (!curr_user){ %>
          <li><a href="/local/login">Login</a></li>
          <li><a href="/local/signup">Register</a></li>
        <% } %>
      </ul>
    </div><!--/.nav-collapse -->
    </div>
  </div>
</header>
