@import url(https://fonts.googleapis.com/css?family=Arimo:700,700italic);
@import url(https://fonts.googleapis.com/css?family=Pacifico);



/* General styles */
  html {
    height: 100%;
  }

  /*gets rid of awkard space*/
  section {
    margin-top: -20px;
  }


/* NAVBAR STUFF */

.navbar-inverse {
   background-color: transparent !important;
   border-color: transparent !important;
   padding: 15px;
   z-index: 2;
}

div.navbar a{
  color: white !important;
  font-size: 30px;
  font-weight: bold !important;
}



/* END OF NAVBAR*/




/* User Profile Page Styles */
#body-prof{
  background-color: #91EEF4;
}
#prof-img-col{
  padding-top: 150px;
}
#prof-img-div{
  height: 300px;
  width: 100%;
  border: 5px solid #A50D18;
}
#prof-img{
  width: 100%;
  height: 100%;
}
#prof-edit{
  background-color: #AEF911;
  margin: 0 auto;
  margin-top: 50px;
}
#prof-content-col{
  padding: 150px 0 0 100px;
}
#prof-hr{
  border: 3px solid #F39934;
}



/* Shopping Cart Styles */
#shopping-cart{
  margin: 150px auto;
}
#cart-title{
  text-align: center;
}
.cart-item-img-div{
  width: 100px;
  height: 100px;
  border: 3px solid #F432E6;
  background-color: black;
  display: inline-block;
}
.cart-item-img{
  width: 100px;
  height: 100px;
}
.cart-item-text{
  display: inline-block;
  width: 300px;
}
.cart-item-cost{
  display: inline-block;
  width: 100px;
}
.cart-item-amount{
  display: inline-block;
  width: 200px;
}
.cart-item-id{
  display: inline-block;
  width: 200px;
}




/* Homepage */

.parallax-window {
  min-height: 400px;
  background: transparent;
}




/* Home Page Styles */

  /* TITLE */
  #home_title{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 150px;
    text-align: center;

  }
  #home_title_tagline{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin-top: 80px;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bolder;

  }
  #section-one {
    position: relative;
    top:-12%;
  }
  #title {
    position: relative;
    color: white;
    z-index: 1;
    top:-540px;
  }
  #order-now {
    margin-left:45%;
    margin-top: 30px;
  }
  #down-arrow {
    position: relative;
    left: 46%;
    margin-top: 80px;
    font-size: 50px;
  }

/*RESTAURANTS PAGE*/


  .carousel-inner > .item > img {
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .item {
    width: 100%;
    height: 100%;
  }

  .carousel-inner {
    width: 1000px;
    height: 500px;
  }

  #restaurants-title {
    text-align: center;
  }

  .add-to-cart {
    background-color: #FF9999;
  }

  #checkout {
   background-color: #FF6666;
  }

  #button-link {
    color: black;
  }

  #carousel-box {
    border: 1px solid #393939;
  }

  #restaurants-title {
    padding-right: 200px;
    padding-left: 200px;
  }

  /*ABOUT US*/
  #section-two {

  }
  .section-two-images {
    height: 400px;
    margin: 0 40px

  }
  #div-section-two-margin-fix{
    margin: 0 -100px !important;
    padding-top: 30px;
  }
  div#about-us {

    text-align: center;
    margin: 0 200px;
  }




  /* CONTACT INFO */

  #section-three {
    text-align: center;
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ),
        url("https://drscdn.500px.org/photo/129433271/m%3D2048_k%3D1/60087eecc9d294c550b40e726734fb45");
    background-size: cover;
  }
  #contact-info {
    color:white;
    padding-top: 10px;
  }
  #img-con {
    color: white;
  }
  .fa {
    margin: 0 10px;
  }


/* END OF HOMEPAGE */


/*footer*/

