<table class="table">

  <% if (order_dates.length > 0){ %>
    <% for(x in order_dates){ %>
      <tr>
        <td>Order <%= Number(x) + 1 %>
        <td>Date: <%= order_dates[x] %></td>
        <td>
          <% for(q in order_items[x * 2]){ %>
            <p><%= order_items[x * 2][q] %> - <%= order_items[(x * 2) + 1][q] %></p>
          <% } %>
        </td>
      </tr>
    <% } %>
  <% } %>

</table>
