

<table class="table">

  <% for (var i=0; i<orderHistory.length; i++) { %>
    <tr>
      <td>order <%= i + 1 %></td>
      <td>Date: <%= orderHistory[i].created_at %></td>
      <td>Items: <%= orderHistory[i].dessert_items %> </td>
    </tr>
  <% } %>

</table>
