<% include ../partials/head %>


<br><br><br>

  <!-- alert(localStorage.getItem("food")); -->
<script id="cart-item-template" type="text/x-handlebars-template">

  {{#each desserts}}
  <div class="cart-item">

    <div class="cart-item-img-div">
      <img class="cart-item-img" src="http://img14.deviantart.net/cabe/i/2006/235/3/f/cute_happy_cupcake_avatar_by_cuteordeath.gif">
    </div>

    <div class="cart-item-text">
      <p>{{this.itemName}} ({{this.restaurant}})</p>
      <p>Delete</p>
    </div>

    <div class="cart-item-cost">
      <p>Price</p>
      <p>{{this.price}}</p>
    </div>

    <div class="cart-item-amount">
      <p>Quantity</p>
      <input type="text" name="cart-item-1" value=0>
    </div>

    <input type="text" style="display: none" value={{this.itemId}}>

  </div>
  {{/each}}

</script>


<h1 id="cart-header">Checkout</h1>
<form method='post' action='/orders/create'>

  <input type="hidden" name="user_id" value="56a3e903845cd0f807e0b17b">
  <input type="hidden" name="user_address" value="123 Street St.">
  <input id="dessert" type="hidden" name="dessert_items" value="">

  <div id="content-placeholder"></div>


  <h5 id="submitButton">Update Cart</h5>

  <div>
    <a id="updateButton">UPDATE!</button>
  </div>

  <div>
    <input id="butt" type="submit" value="Submit" style="display: none">
  </div>

</form>


<br><br><br>
<br><br><br>

<% include ../partials/footer %>
