<% include ../partials/head %>


<br><br><br>

  <!-- alert(localStorage.getItem("food")); -->
<script id="cart-item-template" type="text/x-handlebars-template">

  {{#each desserts}}
  <div class="cart-item">

    <div class="cart-item-img-div">
      <img class="cart-item-img" src="http://img14.deviantart.net/cabe/i/2006/235/3/f/cute_happy_cupcake_avatar_by_cuteordeath.gif">
    </div>

    <div class="cart-item-text">
      <p>{{this.itemName}} ({{this.restaurant}})</p>
      <p>Delete</p>
    </div>

    <div class="cart-item-cost">
      <p>Price</p>
      <p>{{this.price}}</p>
    </div>

    <div class="cart-item-amount">
      <p>Quantity</p>
      <input type="text" name="cart-item-1">
    </div>

    <p>{{this.itemId}}</p>

  </div>
  {{/each}}

</script>



<form method='post' action='/orders/create'>

  <input type="hidden" name="user_id" value="56a3e903845cd0f807e0b17b">
  <input type="hidden" name="user_address" value="123 Street St.">
  <input type="hidden" name="ready_for_delivery" value="true">
  <input type="hidden" name="created_at" value="<%= Date.now() %>">

  <div id="content-placeholder"></div>

  <input id="dessert" type="text" name="dessert_items" value="">

  <h5 id="submitButton">Update Cart</h5>

  <div>
    <input type="submit" value="Submit">
  </div>

</form>


<br><br><br>
<br><br><br>

<% include ../partials/footer %>
