<% include ../partials/head %>
<% include ../partials/navbar %>


<br><br><br>

  <!-- alert(localStorage.getItem("food")); -->
<script id="cart-item-template" type="text/x-handlebars-template">

  {{#each desserts}}
  <div class="cart-item">

    <div class="cart-item-img-div">
      <img class="cart-item-img" src="http://img14.deviantart.net/cabe/i/2006/235/3/f/cute_happy_cupcake_avatar_by_cuteordeath.gif">
    </div>

    <div class="cart-item-text">
      <p>{{this.itemName}} ({{this.restaurant}})</p>
      <p>Delete</p>
    </div>

    <div class="cart-item-cost">
      <p>Price</p>
      <p>{{this.price}}</p>
    </div>

    <div class="cart-item-amount">
      <p>Quantity</p>
      <input type="text" name="cart-item-1">
    </div>

    <p>{{this.itemId}}</p>

  </div>
  {{/each}}

</script>





<form method='post' action='/orders/create'>

  <div>
    <label>Customer</label>
    <input type="text" name="user_id">
  </div>

  <div>
    <label>Address</label>
    <input type="text" name="user_address">
  </div>

  <div>
    <label>Ready (write "true")</label>
    <input type="text" name="origin">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>

</form>

<div id="content-placeholder"></div>

<br><br><br>
<br><br><br>

<% include ../partials/footer %>
