<!-- Eventually make it a partial-->

<p>User ID: <%= order.user_id %></p>
<p>User Address: <%= order.user_address %></p>
<p>Ready?: <%= order.ready_for_delivery %></p>
<p>Items: <%= order.dessert_items %></p>
