<style>
  body{
    background-color: ;
  }
  #home_title{
    text-align: center;
    margin-top: 300px;
    font-family: sans-serif;
  }
  #home_title_cravings{
    text-align: center;
    font-family: cursive;
  }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



<!-- NAV BAR -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">SugarRush</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</div>

<!-- END OF NAV BAR -->



<!-- MAIN BODY -->


<a href='/auth/venmo'><h1 id='home_title'>satisfy your midnight</h1></a>
<h1 id='home_title_cravings'>cravings</h1>















<!-- FOOTER -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../../parallax.js-1.3.1/parallax.js"></script>
