<% include ../partials/head %>
<% include ../partials/navbar %>



<!-- MAIN BODY -->
<div class="parallax-window" data-parallax="scroll" data-image-src="https://drscdn.500px.org/photo/95033825/w%3D560_s%3D1/d553d8ef7e39a7bc4091cb916ea488c4"></div>


<section style="height: 300px;">
  <a href='/auth/venmo'><h1 id='home_title'>satisfy your midnight</h1></a>
  <h1 id='home_title_cravings'>cravings</h1>
</section>






<% include ../partials/footer %>

