<% include ../partials/head %>
<% include ../partials/navbar %>



<!-- MAIN BODY -->


<section id="section-one" style="height:730px">
  <div id='title'>
    <a href='/auth/venmo'><h1 id='home_title'>Satisfy Your Midnight</h1></a>
    <h1 id='home_title_cravings'>cravings</h1>
  </div>
</section>


<div style="height:500px" class="parallax-window" data-parallax="scroll" data-image-src="https://drscdn.500px.org/photo/90042257/m%3D2048/081cb380794ea717bf94c1957ef13744"></div>


<section id="section-two" style="height:500px">
  <div id="about-us">
    <div>
      <h1>ABOUT US</h1>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, temporibus laboriosam placeat ratione omnis error dolores assumenda dignissimos sed sequi ex animi, cum neque vero accusamus est iure quibusdam, magnam? ipsum dolor sit amet, consectetur adipisicing elit. A ipsa nihil voluptatem deserunt, commodi. Eum magnam similique ratione perferendis quidem fugiat, ut placeat dignissimos maxime exercitationem ullam voluptatum. Architecto, doloribus! ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quisquam tempora dicta sunt exercitationem! Sint dolorum, adipisci eos fugiat, laboriosam quod quam ipsam tempora maiores veniam reiciendis distinctio voluptas consequatur. ipsum dolor sit amet, consectetur adipisicing elit. Ea enim dicta, cum fuga nihil maxime culpa id a, perferendis explicabo debitis ut. Ea eveniet reiciendis odit, nam distinctio nisi placeat.</p>
    </div>
  </div>
</section>


<div style="height:500px" class="parallax-window" data-parallax="scroll" data-image-src="https://drscdn.500px.org/photo/35771706/m%3D2048/55ea150668b4827fe56f21d559468566"></div>



<section id="section-three" style="height:500px">
  <div>
    <a href='/auth/venmo'><h1 id='home_title'>satisfy your midnight</h1></a>
    <h1 id='home_title_cravings'>cravings</h1>
  </div>
</section>



<div style="height:500px" class="parallax-window" data-parallax="scroll" data-image-src="https://drscdn.500px.org/photo/95033825/w%3D560_s%3D1/d553d8ef7e39a7bc4091cb916ea488c4"></div>





<% include ../partials/footer %>

