<style>
  body{
    background-color: ;
  }
  #home_title{
    text-align: center;
    margin-top: 300px;
    font-family: sans-serif;
  }
  #home_title_cravings{
    text-align: center;
    font-family: cursive;
  }
  .parallax-window {
    min-height: 400px;
    background: transparent;
  }
  html { height: 100%; }
</style>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



<!-- NAV BAR -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">SugarRush</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</div>

<!-- END OF NAV BAR -->



<!-- MAIN BODY -->
<div class="parallax-window" data-parallax="scroll" data-image-src="https://drscdn.500px.org/photo/95033825/w%3D560_s%3D1/d553d8ef7e39a7bc4091cb916ea488c4"></div>


<section style="height: 300px;">
  <a href='/auth/venmo'><h1 id='home_title'>satisfy your midnight</h1></a>
  <h1 id='home_title_cravings'>cravings</h1>
</section>











<!-- FOOTER -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/bower_components/parallax.js/parallax.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
