<% include ../partials/head %>
<% include ../partials/navbarWhite %>

<div id="window">
<!-- MAIN BODY -->

  <section id="section-one" style="height:720px">

      <div style="height:700px;" class="parallax-window" data-parallax="scroll" data-image-src="http://i.imgur.com/NaBfgwz.jpg"></div>

      <div id='title'>
        <h1 id='home_title'>SugarRush</h1>
        <h3 id='home_title_tagline'>Satisfy Your Midnight Cravings</h1>
        <a href="/local/signup"><button id="order-now" class="btn btn-default btn-lg">SignUp</button></a>

      </div>

  </section>




<section id="section-two" style="height:695px">

  <div id="about-us">
      <h1 class="futura">ABOUT US</h1>
      <p class="home-page-text futura">Sugar-Rush is a dessert delivery application targeted towards young adults and late-night snackers. This business currently operates from 7pm to 3am everyday in three neighborhoods: Silverlake, Santa Monica, and North Hollywood.</p>
      <p class="home-page-text futura">Can't decide between two restaurants? Don't worry, we got you! Sugar-Rush keeps an inventory of the most popular offerings of the hottest dessert joints in the greater Los Angeles area.</p>
      <p class="home-page-text futura">Worried about security? Chill out! S-R uses venmo-authentication so all your personal info is safe and secure.</p>
      <p class="home-page-text futura">Not hungry? ... switch to a different tab and come back in a couple hours.</p>
    <div id="div-section-two-margin-fix">
      <img class="section-two-images" src="https://drscdn.500px.org/photo/95440977/m%3D2048/cff86282cfe0e94e375ce07df6582f53">
      <!-- <img class="section-two-images" src="https://drscdn.500px.org/photo/79152113/m%3D2048/b9c6e1386cde70a92e81646906cc941d"> -->
      <img class="section-two-images" src="https://drscdn.500px.org/photo/93813915/m%3D2048/60df3ac3dd69bd184b4520ec54d217ad">
    </div>
  </div>

</section>


<section>
  <div style="height:500px" class="parallax-window" data-parallax="scroll" data-image-src="https://drscdn.500px.org/photo/90042257/m%3D2048/081cb380794ea717bf94c1957ef13744">
    <h1 class="steps">Step 1: Select Your Dessert</h3>
  </div>
</section>


<section>
  <div style="height:500px" class="parallax-window" data-parallax="scroll" data-image-src="https://drscdn.500px.org/photo/35771706/m%3D2048/55ea150668b4827fe56f21d559468566">
    <h1 class="steps">Step 2: Enjoy Your Piece of Heaven</h1>
  </div>
</section>

<section>
  <div style="height:500px" class="parallax-window" data-parallax="scroll" data-image-src="https://drscdn.500px.org/photo/95033825/m%3D2048/51f37ed832c7844fe463e78ca49a01cc">
    <h1 class="steps">Step 3: Repeat</h5>
  </div>
</section>




<section id="section-three" style="height:250px">
  <div id="contact-info">
    <h1>Contact Info</h1>
    <p>Address: 12345 Keyan's Candy Ln, California, CA 99999</p>
    <p>Phone: 1-234-567-8910</p>
    <p>Email: SugarRush@sugarRush.com</p>
  </div>

  <div id="img-con">
    <i class="fa fa-facebook-square fa-3x"></i>
    <i class="fa fa-instagram fa-3x"></i>
    <i class="fa fa-twitter-square fa-3x"></i>
    <i class="fa fa-youtube-square fa-3x"></i>
  </div>

</section>

</div>
<% include ../partials/footer %>
</body>
