<% include ../partials/head %>
<% include ../partials/navbar %>




<a href='/auth/venmo'><h1 id='home_title'>satisfy your midnight</h1></a>
<h1 id='home_title_cravings'>cravings</h1>




<% include ../partials/footer %>
