
<% include ../partials/head %>
<% include ../partials/navbar %>

<br>
<br>
<br>
<br><br><br>
<body>
    <title>Node Authentication</title>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/local/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/local/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/venmo" class="btn btn-danger"><span class="fa fa-user"></span> Venmo Login</a>
    </div>

</div>
</body>

<% include ../partials/footer %>
